<app-sidebar></app-sidebar>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<!--<div class="container-fluid">-->
<!--    <app-header-admin></app-header-admin>-->
<!--    <div class="row">-->
<!--        <div class="col-md-3 col-sm-3 col-xs-12">-->
<!--            <app-sidebar></app-sidebar>-->
<!--        </div>-->
<!--        <div class="col-md-9 col-sm-9 col-xs-12">-->
<!--            <router-outlet></router-outlet>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
