<div class="row justify-content-center mt-2">
    <div class="col-sm-8">
        <a class="btn btn-primary" routerLink="/home-admin/add-category">Thêm mới</a>
<!--        <h2 class="text-success">Danh sách danh mục sản phẩm</h2>-->

        <div class="alert alert-warning" role="alert" *ngIf="categories && categories.length === 0">
            Không có dữ liệu danh mục sản phẩm
        </div>

        <div class="table-responsive lb-table lb-scroll" *ngIf="categories && categories.length > 0">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Tên danh mục</th>
                        <th>Ngày tạo/cập nhập</th>
                        <th>Người tạo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of categories">
                        <td>{{ category.categoryName }}</td>
                        <td>{{ category.lastUpdate | date:'dd-MM-yyyy' }}</td>
                        <td>{{ category.userSystem?.fullName }}</td>
                        <td>
                            <button type="button" class="btn btn-info" routerLink="/home-admin/update-category/{{ category.id }}">Sửa</button>
                            <button type="button" class="btn btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="delete(category.id)">Xóa</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Xóa</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Bạn có chắc chắn muốn xóa không ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary" (click)="confirmDelete()" data-bs-dismiss="modal">Xóa</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
