<div class="row justify-content-center mt-2 mb-2">
    <div class="col-8">
        <h3 class="text-center text-success">THÊM TIN TỨC</h3>

        <form (ngSubmit)="onSubmit()" [formGroup]="myForm">
            <div class="mb-3">
                <label for="title" class="form-label">Tiêu đề</label>
                <input type="text" class="form-control" placeholder="Nhập tiêu đề tin tức" formControlName="title" [ngClass]="{ 'is-invalid': submitted && f.title.errors}">

                <div *ngIf="submitted && f.title.invalid" class="invalid-feedback">
                    <div *ngIf="f.title.errors?.required">Bạn chưa nhập tiêu đề tin tức</div>
                    <div *ngIf="f.title.errors?.maxlength">Tiêu đề tin tức phải nhỏ hơn 255 ký tự</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="content" class="form-label">Nội dung</label>
                <textarea class="form-control" placeholder="Nhập nội dung tin tức" formControlName="content" [ngClass]="{ 'is-invalid': submitted && f.content.errors}"></textarea>

                <div *ngIf="submitted && f.content.invalid" class="invalid-feedback">
                    <div *ngIf="f.content.errors?.required">Bạn chưa nhập nội dung tin tức</div>
                    <div *ngIf="f.content.errors?.maxlength">Nội dung tin tức phải nhỏ hơn 4000 ký tự</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Ảnh</label>
                <input type="file" class="form-control" formControlName="image" [ngClass]="{ 'is-invalid': submitted && f.image.errors}" accept="image/*" (change)="selectFile($event)">

                <div *ngIf="submitted && f.image.invalid" class="invalid-feedback">
                    <div *ngIf="f.image.errors?.required">Bạn chưa chọn ảnh tin tức</div>
                </div>
            </div>

            <div class="mb-3 text-center">
                <img [src]="imgURL" class="image-input" *ngIf="imgURL">
            </div>

            <div class="mb-3">
                <label for="rootLink" class="form-label">Nguồn tin tức</label>
                <input type="text" class="form-control" placeholder="Nhập link nguồn bài viết hoặc ghi tên tác giả" formControlName="rootLink" [ngClass]="{ 'is-invalid': submitted && f.rootLink.errors}">

                <div *ngIf="submitted && f.rootLink.invalid" class="invalid-feedback">
                    <div *ngIf="f.rootLink.errors?.required">Bạn chưa nhập nguồn tin tức</div>
                    <div *ngIf="f.rootLink.errors?.maxlength">Nguồn tin tức phải nhỏ hơn 255 ký tự</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="categoryNewsId" class="form-label">Danh mục tin tức</label>
                <select class="form-select form-control" formControlName="categoryNewsId" [ngClass]="{ 'is-invalid': submitted && f.categoryNewsId.errors}">
                    <option *ngFor="let categoryNew of categoryNews" [ngValue]="categoryNew.id">{{ categoryNew.categoryName }}</option>
                </select>

                <div *ngIf="submitted && f.categoryNewsId.invalid" class="invalid-feedback">
                    <div *ngIf="f.categoryNewsId.errors?.required">Bạn chưa chọn danh mục tin tức</div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Lưu</button>
            <button type="button" class="btn btn-secondary ms-2" (click)="onBack()">Quay lại</button>
        </form>
    </div>
</div>