<!--footer area start-->
<footer class="footer_widgets">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-6 col-sm-6 col-6">
          <div class="widgets_container">
            <h3>Thời trang mới</h3>
            <div class="footer_menu">
              <ul>
                <li><a href="/home">Trang chủ</a></li>
                <li><a routerLink="/home/product-list" [queryParams]="{type: 'sale'}">Giảm giá</a></li>
                <li><a routerLink="/home/news-list" [queryParams]="{type: 'sale'}">Tin tức</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="widgets_container contact_us">
            <h3>Liên hệ</h3>
            <div class="footer_contact">
              <p>Địa chỉ: Chiến thắng</p>
              <p>Phone: <a href="tel:+(+012)800456789-987">(+012) 800 456 789 - 987</a> </p>
              <p>Email: nhatanh@example.com</p>
              <ul>
                <li><a href="https://twitter.com/" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/" title="facebook"><i class="fa fa-facebook"></i></a></li>
              </ul>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="copyright_area">
            <p> &copy; Copyright by Nguyen Nhat Anh <strong> </strong></p>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</footer>
<!--footer area end-->


