<div class="row justify-content-center mt-2">
    <div class="col-sm-12">
      <a class="btn btn-primary" routerLink="/home-admin/add-product">Thêm mới</a>

        <div class="alert alert-warning" role="alert" *ngIf="products && products.length === 0">
            Không có dữ liệu sản phẩm
        </div>
        <div class="table-responsive lb-table lb-scroll" *ngIf="products && products.length > 0">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Tên sản phẩm</th>
<!--                        <th>Giới thiệu</th>-->
<!--                        <th>Mô tả sản phẩm</th>-->
                        <th>Giá nhập</th>
                        <th>Giá bán</th>
                        <th>Số lượng nhập</th>
                        <th>Số lượng đã bán</th>
                        <th>Số lượng hiện có</th>
                        <th>Khuyến mại</th>
<!--
                        <th>Danh mục</th>
<!--                        <th>Ngày cập nhật</th>-->
<!--                        <th>Người tạo</th>-->
                        <th></th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td>{{ product.productName }}</td>
<!--                        <td style="white-space: pre-wrap">{{ product.introduce }}</td>-->
<!--                        <td style="white-space: pre-wrap">{{ product.description }}</td>-->
                        <td>{{ product.priceImport | currency: 'VND':''}} đ</td>
                        <td>{{ product.priceSell | currency: 'VND':'' }} đ</td>
                        <td>{{ product.quantityImport }}</td>
                        <td>{{ product.quantityImport - product.inventory }}</td>
                        <td>{{ product.inventory }}</td>
                        <td>{{ product.sale }} %</td>
                        <!-- <td>{{ product.thoroughbred?.purebredLevel }} %</td> -->
                        <td>{{ product.category?.categoryName }}</td>
<!--                        <td>{{ product.lastUpdate | date:'dd-MM-yyyy' }}</td>-->
<!--                        <td>{{ product.userSystem?.fullName }}</td>-->
                        <td>
                            <button type="button" class="btn btn-info" routerLink="/home-admin/update-product/{{ product.id }}">Sửa</button>
                            <button type="button" class="btn btn-success ms-2" routerLink="/home-admin/view-product/{{ product.id }}">Xem</button>
                          </td>
                          <td>
                            <button type="button" class="btn btn-warning ms-2" routerLink="/home-admin/update-image/{{ product.id }}">Sửa ảnh</button>
                            <button type="button" class="btn btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="delete(product.id)">Xóa</button>

                          </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Xóa</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Bạn có chắc chắn muốn xóa không ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary" (click)="confirmDelete()" data-bs-dismiss="modal">Xóa</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
