<div class="row justify-content-center mt-2">
  <div class="card" style="width: 60rem;">
    <div class="card-header">
      Thông tin hóa đơn
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p class="card-text"><label class="font-weight-bold">Họ tên:</label> {{order.customerName}}</p>
        <p class="card-text"><label class="font-weight-bold">Địa chỉ:</label> {{order.address}}</p>
        <p class="card-text"><label class="font-weight-bold">Email:</label> {{order.customerEmail}}</p>
        <p class="card-text"><label class="font-weight-bold">Số điện thoại:</label> {{order.customerPhone}}</p>

      </blockquote>
      <!--      <h5 class="card-title"></h5>-->
      <!--      <h6 class="card-subtitle mb-2 text-muted"></h6>-->

      <!--      <a href="#" class="card-link">Card link</a>-->
      <!--      <a href="#" class="card-link">Another link</a>-->
    </div>
  </div>

</div>
<div class="row justify-content-center mt-2">
  <div class="card mt-2" style="width: 60rem;">
    <div class="card-body">
      <p>Danh sách sản phẩm</p>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Tên sản phẩm</th>
          <th scope="col">Số lượng</th>
          <th scope="col">Đơn Giá</th>
          <th scope="col">Tổng tiền</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of order.orderDetails">
          <th scope="row">{{item.id}}</th>
          <td>{{item.product.productName}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.product.priceSell | currency: 'VND':''}} đ</td>
          <td>{{item.product.priceSell * item.quantity | currency: 'VND':'' }} đ</td>
        </tr>
        <tr>
          <td colspan="3"></td>
          <td>Tổng tiền: </td>
          <td><cite title="Source Title">{{getTotalAmount() | currency: 'VND':''}} đ</cite></td>

        </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>
