<div class="row justify-content-center mt-2 mb-2">
    <div class="col-8">
        <h3 class="text-center text-success">THÊM SẢN PHẨM</h3>

        <form (ngSubmit)="onSubmit()" [formGroup]="myForm">
            <div class="mb-3">
                <label for="productName" class="form-label">Tên sản phẩm</label>
                <input type="text" class="form-control" placeholder="Nhập tên sản phẩm" formControlName="productName" [ngClass]="{ 'is-invalid': submitted && f.productName.errors}">

                <div *ngIf="submitted && f.productName.invalid" class="invalid-feedback">
                    <div *ngIf="f.productName.errors?.required">Bạn chưa nhập tên sản phẩm</div>
                    <div *ngIf="f.productName.errors?.maxlength">Tên sản phẩm phải nhỏ hơn 255 ký tự</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="introduce" class="form-label">Lời giới thiệu</label>
                <textarea class="form-control" placeholder="Nhập nội dung lời giới thiệu" formControlName="introduce" [ngClass]="{ 'is-invalid': submitted && f.introduce.errors}"></textarea>

                <div *ngIf="submitted && f.introduce.invalid" class="invalid-feedback">
                    <div *ngIf="f.introduce.errors?.required">Bạn chưa nhập nội dung lời giới thiệu</div>
                    <div *ngIf="f.introduce.errors?.maxlength">Nội dung lời giới thiệu phải nhỏ hơn 500 ký tự</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Mô tả sản phẩm</label>
                <textarea class="form-control" placeholder="Nhập nội dung mô tả sản phẩm" formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors}"></textarea>

                <div *ngIf="submitted && f.description.invalid" class="invalid-feedback">
                    <div *ngIf="f.description.errors?.required">Bạn chưa nhập nội dung mô tả sản phẩm</div>
                    <div *ngIf="f.description.errors?.maxlength">Nội dung mô tả sản phẩm phải nhỏ hơn 5000 ký tự</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="priceImport" class="form-label">Giá nhập</label>
                <input type="number" class="form-control" placeholder="Nhập giá nhập sản phẩm" formControlName="priceImport" [ngClass]="{ 'is-invalid': submitted && f.priceImport.errors}">

                <div *ngIf="submitted && f.priceImport.invalid" class="invalid-feedback">
                    <div *ngIf="f.priceImport.errors?.required">Bạn chưa nhập giá nhập sản phẩm</div>
                    <div *ngIf="f.priceImport.errors?.pattern">Giá bán phải từ 0 trở lên</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="priceSell" class="form-label">Giá bán</label>
                <input type="number" class="form-control" placeholder="Nhập giá bán sản phẩm" formControlName="priceSell" [ngClass]="{ 'is-invalid': submitted && f.priceSell.errors}">

                <div *ngIf="submitted && f.priceSell.invalid" class="invalid-feedback">
                    <div *ngIf="f.priceSell.errors?.required">Bạn chưa nhập giá bán sản phẩm</div>
                    <div *ngIf="f.priceSell.errors?.pattern">Giá bán phải từ 0 trở lên</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="quantityImport" class="form-label">Số lượng nhập</label>
                <input type="number" class="form-control" placeholder="Nhập giá số lượng nhập sản phẩm" formControlName="quantityImport" [ngClass]="{ 'is-invalid': submitted && f.quantityImport.errors}">

                <div *ngIf="submitted && f.quantityImport.invalid" class="invalid-feedback">
                    <div *ngIf="f.quantityImport.errors?.required">Bạn chưa nhập số lượng nhập sản phẩm</div>
                    <div *ngIf="f.quantityImport.errors?.min">Số lượng nhập phải là số từ 1 đến 1000000000</div>
                    <div *ngIf="f.quantityImport.errors?.max">Số lượng nhập phải là số từ 1 đến 1000000000</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="sale" class="form-label">Khuyến mại (%)</label>
                <input type="number" class="form-control" placeholder="Nhập phần trăm khuyến mại" formControlName="sale" [ngClass]="{ 'is-invalid': submitted && f.sale.errors}">

                <div *ngIf="submitted && f.sale.invalid" class="invalid-feedback">
                    <div *ngIf="f.sale.errors?.required">Bạn chưa nhập phần trăm khuyến mại</div>
                    <div *ngIf="f.sale.errors?.min">Phần trăm khuyến mại là số phải từ 0 đến 100</div>
                    <div *ngIf="f.sale.errors?.max">Phần trăm khuyến mại là số phải từ 0 đến 100</div>
                </div>
            </div>

           <div class="mb-3">
                <label for="thoroughbredId" class="form-label">% vải cotton</label>
                <select class="form-select form-control" formControlName="thoroughbredId" [ngClass]="{ 'is-invalid': submitted && f.thoroughbredId.errors}">
                    <option *ngFor="let thoroughbred of thoroughbreds" [ngValue]="thoroughbred.id">{{ thoroughbred.purebredLevel }}</option>
                </select>

            </div>

            <div class="mb-3">
                <label for="categoryId" class="form-label">Danh mục sản phẩm</label>
                <select class="form-select form-control" formControlName="categoryId" [ngClass]="{ 'is-invalid': submitted && f.categoryId.errors}">
                    <option *ngFor="let category of categorys" [ngValue]="category.id">{{ category.categoryName }}</option>
                </select>

                <div *ngIf="submitted && f.categoryId.invalid" class="invalid-feedback">
                    <div *ngIf="f.categoryId.errors?.required">Bạn chưa chọn danh mục sản phẩm</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Ảnh</label>
                <input type="file" class="form-control" accept="image/*" (change)="selectFile($event)" multiple="true">
            </div>

            <div class="mb-3 text-center" *ngIf="imgURLs && imgURLs.length > 0">
                <div *ngFor="let url of imgURLs; let i = index">
                    <img [src]="url.base64String" class="image-proudct"><button type="button" class="btn btn-danger" (click)="deleteImage(i)"><i class="bi bi-trash-fill"></i> Xóa</button>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Lưu</button>
            <button type="button" class="btn btn-secondary ms-2" (click)="onBack()">Quay lại</button>
        </form>
    </div>
</div>
